{% extends 'blog/base.html' %}
{% load my_tags %}

<head>
    <meta charset="UTF-8">
    <title>Блог</title>
</head>

{% block content %}
<div class="row row-cols-1 row-cols-md-1 g-4">
    <div class="col">
        <div class="card">
            <img src="{{ blog.preview | media_filter}}">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.description }}</p>
                <div class="card-footer">
                    <div class="row row-cols-md-2">
                        <div class="row row-cols-md-4 ">
                        <a class="btn btn-warning" href="{% url 'blog:blog_list' %}" role="button">Назад</a>
</div>
                        <p class="card-text text-end"><small class="text-body-secondary">Views {{blog.views}}</small>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
